/*-- navbar --*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Oswald';
  font-size: 1em;
}

@media (max-width: 991px) {
.navbar-nav-scroll {
  background: black;
}
}

#quarto-header {
  border-bottom: 1px solid black;
}

.navbar-brand.navbar-brand-logo {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0.2em;
}

@media (max-width: 767px) {
  .navbar-brand.navbar-brand-logo {
    margin-left: 0;
}
}

.navbar-logo {
  max-height: 90px;
  margin-right: 10px;
  width: auto;
  align-items: baseline;
}

@media (max-width: 991px) {
.navbar-logo {
  max-height: 100px;
  width: auto;
  align-items: baseline;
}
}

.navbar-nav .nav-link {
  color: black;
  font-weight: 400;
}

.navbar-nav .nav-link:hover {
  color: #939bc9;
  font-weight: 400;
}

@media (max-width: 991px) {
.navbar-nav .nav-link {
  color: white;
  font-weight: 400;
}
}

.navbar-nav .show>.nav-link, .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active {
  color: #939bc9;
}

.nav-item {
  margin-top: 4rem; 
}

@media (max-width: 1200px) {
  .nav-item {
    margin-right: 0.5rem;
}
}

@media (max-width: 991px) {
  .nav-item {
    margin-top: 0;
    margin-right: 0rem;
}
}

.aa-DetachedSearchButton {
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .aa-DetachedSearchButton {
    margin-top: 0;
}
}

.dropdown-item {
  font-family: inherit;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 300;
  color: black;
  text-align: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
  border: 0;
}

/* Apply a solid line above the footer */
footer {
    border-top: 1.5px solid #232E52; /* You can customize the color and thickness */
    padding-top: 0px; /* Adjust padding for space between content and line */
}